# Image processing library
pillow==10.3.0

# GUI library
# tkinterdnd2 is used for adding drag and drop functionality in Tkinter applications
tkinterdnd2==0.3.0

#Used in the creation of executable files
pyinstaller==6.7.0

# Profiling tools
# snakeviz is used for visualizing cProfile results
snakeviz==2.2.0

# Numerical computation library used for unit testing
numpy
